# Prerequisites
*.d
.vscode
node_modules
materialize
syntax_tree_builder/build
syntax_tree_builder/package-lock.json
syntax_tree_builder/package.json
syntax_tree_builder/yarn.lock
syntax_tree_builder/tsconfig.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
