:root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
}

#container {
    display: flex;
    width: 100%;
}

#svgContainer {
    width: 70%;
}

#sh_circleContainer {
    width: 100%;
}

#forms {
    width: 30%;
}

#form1-input {
    display: flex;
    flex-direction: row;
}

#form1-input div {
    margin-right: 30px;
}

#form4-input {
    display: flex;
    flex-direction: row;
}

#form4-input div {
    margin-right: 30px;
}

circle:hover {
    cursor: pointer;
    fill-opacity: 0.8;
    box-shadow: 0.5rem 1rem 2rem var(--grey-color);
    stroke: rgba(255, 179, 80, 0.884);
    stroke-width: 5px;
    stroke-opacity: 0.8;
}


text:hover {
    cursor: pointer;
}


svg .circleText {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    fill: black;
    font-weight: 500;
    word-break: break-all;
    stroke-width: 0;
}

line {
    opacity: 0.6;
    stroke-opacity: 0.8;
}

line:hover {
    cursor: pointer;
    opacity: 1;
    stroke-opacity: 1.0;
}